<nav class="h-24 w-screen bg-black bg-opacity-60 flex items-center text-white">
  <div class="w-4/5 mx-auto flex justify-between ">
    <h1 class="text-3xl ml-6">🎹 Apollo</h1>
    <div class="sessions mr-6">
      <% if user_signed_in? %>
        <article>
          <header>
            <%= current_user&.name %>
          </header>
          <%= image_tag current_user.image if current_user.image.present? %>
          <footer>
            <%= link_to 'Settings', edit_user_registration_path %>
            <%= form_with(url: destroy_user_session_path, method: 'delete') do |f| %>
              <%= f.submit 'Sign out' %>
            <% end %>
          </footer>
        </article>
      <% end %>
    </div>
  </div>
</nav>
