<% user = local_assigns[:user] %>

<% if user.player_playing %>
  <article class="spotify-player" style="--spotify-track-image-url: url(<%= user.spotify_track.album_cover_url %>)">
    <header>
      <h3><%= user.name %></h3>
    </header>
    <footer>
      <h4><%= link_to user.spotify_track.song, user.spotify_track.song_url %></h4>
      <h5><%= link_to user.spotify_track.artist, user.spotify_track.artist_url %></h5>
    </footer>
  </article>
<% else %>
  <article class="spotify-player bg-gray-600" style="--spotify-track-image-url: url()">
    <header>
      <h3><%= user.name %></h3>
    </header>
    <footer>
      <h4>Nothing right now</h4>
    </footer>
  </article>
<% end %>
