<!DOCTYPE html>
<html>
  <head>
    <title>Apollo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div class="h-screen w-screen fixed top-0 bg-backdrop"></div>
    <%= render "shared/header" %>
    <%= render "shared/flash" %>
    <div class="container mx-auto">
      <%= render "shared/spotify_connect" if user_signed_in? %>
      <%= yield %>
    </div>
  </body>
</html>
